<!-- Topbar Start -->
<div class="navbar-custom bg-dark">
  <div class="container-fluid">

      <!-- LOGO -->
      <div class="logo-box">
          <a href="index.html" class="logo logo-dark text-center">
              <span class="logo-sm">
                  <!-- <img src="assets/ubold-assets/images/logo-sm.png" alt="" height="22"> -->
                  <span class="logo-lg-text-light">KING SHOP</span>
              </span>
              <span class="logo-lg">
                  <!-- <img src="assets/ubold-assets/images/logo-dark.png" alt="" height="20"> -->
                  <span class="logo-lg-text-light">KS</span>
              </span>
          </a>

          <a href="index.html" class="logo logo-light text-center">
              <span class="logo-sm">
                  <!-- <img src="assets/ubold-assets/images/logo-sm.png" alt="" height="22"> -->
                  <span class="logo-lg-text-light">KING SHOP</span>
              </span>
              <span class="logo-lg">
                  <!-- <img src="assets/ubold-assets/images/logo-light.png" alt="" height="20"> -->
                  <span class="logo-lg-text-light">KING SHOP</span>
              </span>
          </a>
      </div>
  </div>
</div>
<!-- end Topbar -->