<div class="card product-box">
  <div class="card-body">

      <div class="product-action">
          <a href="javascript: void(0);" class="btn btn-success btn-xs waves-effect waves-light"><i class="mdi mdi-pencil"></i></a>
          <a href="javascript: void(0);" class="btn btn-danger btn-xs waves-effect waves-light"><i class="mdi mdi-close"></i></a>
      </div>

      <div class="bg-light">
          <img src="assets/ubold-assets/images/products/product-1.png" alt="product-pic" class="img-fluid">
      </div>

      <div class="product-info">
          <div class="row align-items-center">
              <div class="col">
                  <h5 class="font-16 mt-0 sp-line-1"><a href="ecommerce-product-detail.html" class="text-dark">Jones Men's T-shirt (Blue)</a> </h5>
                  <div class="text-warning mb-2 font-13">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                  </div>
                  <h5 class="m-0"> <span class="text-muted"> Stocks : 98 pcs</span></h5>
              </div>
              <div class="col-auto">
                  <div class="product-price-tag">
                      $39
                  </div>
              </div>
          </div> <!-- end row -->
      </div> <!-- end product info-->
  </div>
</div>