<ion-content [fullscreen]="true" [scrollEvents]="true">
  <!-- Begin page -->
  <div id="wrapper">
    <div style="padding-bottom: 19px">
      <app-top-bar></app-top-bar>
      <app-top-nav></app-top-nav>
    </div>
    <app-left-side-menu></app-left-side-menu>
    <div class="content-page" style="padding-top: 19px">
      <div class="content">
        <div class="container-fluid">
          <app-product-new></app-product-new>
          <app-product-new></app-product-new>
        </div>
      </div>
    </div>
  </div>
</ion-content>
